$font-size: 20px;
$button-background-color: green;
$button-font-color: white;
$text-font-color: red;

.custom-button {
  font-size: $font-size;
  padding: 7px 15px;
  background: $button-background-color;
  color: $button-font-color;
  outline: none;
}

.custom-text {
  color: $text-font-color;
  font-weight: bold;
}
